<nav>
    <div class="container uppercase text-center">
        <div class="navbar-links fw-bold">
            <a href="index.html">
                <img src="assets/images/logo.png" alt="logo" width="150" />
            </a>
            <a href="about.html">About</a>
            <a href="howitworks.html">How it Works</a>
            <a href="programs.html">Tech Tracks®</a>
            <a href="become_instructor.html" class="btn btn-outline-primary">
                Become an Instructor
            </a>
        </div>
    </div>
</nav>
