/* Layout */

*{
    box-sizing: border-box;
}

body {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

main { min-height: 80vh; }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-10 { margin-bottom: 10em; }
.mb-5 { margin-bottom: 5em; }
.mb-2 { margin-bottom: 2em; }
.mt-10 { margin-top: 10em; }
.mt-5 { margin-top: 5em; }
.mt-2 { margin-top: 2em; }

/* Reusable components */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 10px 0;
}

/* Responsive nav */
@media only screen and (min-width: 1024px) {
  nav img { margin-right: 8rem; }
  nav .btn { margin-left: 8rem; }
  nav a { margin: 0 2rem; }
}
@media only screen and (max-width: 1024px) {
  nav a {
    display: inline-block;
    margin: 1em;
  }
}

/* Headings */

h3,
h4,
h5 {
    font-weight: 300;
    letter-spacing: 1px;
    color:#444;
}

h3 {
    color:#444;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3:after {
    display: block;
    height: 2px;
    background-color: #ff4faa;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


h4 {
    color:#444;
    font-size: 125%;
    word-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
}

h5 {
    color:#444;
    font-size: 120%;
    margin-bottom: 15px;
    text-transform: uppercase;
}


/* Paragraphs */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* Icons */
.icon-big {
    display: block;
    font-size: 350%;
    margin-bottom: 10px;
    margin-top: 30px;
}

.icon-medium {
    display: block;
    font-size: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50px;
}


.icon-small {
    color: #ff4faa;
    align-items:baseline;
    margin-right: 5%;
}

/* Headers */
header {
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 65vh;
    margin-top: 2em;
    margin-bottom: 0;
    
}

.hero-how-it-works {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hero-howitworks3.jpeg);
}



.hero-become-an-instructor {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cool-tech-team.jpeg);
}


.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Font */
body { font-family: Sans-Serif; }
.font-serif { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
.fw-bold { font-weight: bold; }
.uppercase { text-transform: uppercase; }
.text-center { text-align: center; }

/* Link */
a, a:link, a:visited, a:hover { text-decoration: none; }
a:link { color: #333; }
a:visited { color: #333; }
a:active { font-weight: bold; }

.btn {
    border-width: 2px;
    border-style: solid;
    padding: 16px;
    border-radius: 4px;
}

.btn:active{
    padding-top: 14px;
    padding-bottom: 18px;
}

.btn.btn-primary {
    background-color: #ff4faa;
    border-color: #ff4faa;
    color: white;
}

.btn.btn-primary:hover {
    background-color: #de4392;
    border-color: #de4392;
}

.btn.btn-outline-primary {
    color: #ff4faa;
    border-color: #ff4faa;
}

.btn.btn-outline-primary:hover {
    color: white;
    background-color: #ff4faa;
    border-color: #ff4faa;
}


/* Footer */
footer {
    background-color:#ff4faa;
    padding: 5px;
    font-size: 90%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-media-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-media-links li  {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-nav li:last-child,
.social-media-links li:last-child {
    margin-right: 50px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-media-links li a:link,
.social-media-links li a:visited {
    text-decoration: none;
    border: 0;
    color:black;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: white;
    
}

footer p {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

