/* Layout */

*{
    box-sizing: border-box;
}

main { min-height: 80vh; }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-10 { margin-bottom: 10em; }
.mt-2 { margin-top: 2em; }

/* Reusable components */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 10px 0;
}

.box {
    padding: 1%;
}

/* Responsive nav */
@media only screen and (min-width: 1024px) {
  nav img { margin-right: 8rem; }
  nav .btn { margin-left: 8rem; }
  nav a { margin: 0 2rem; }
}
@media only screen and (max-width: 1024px) {
  nav a {
    display: inline-block;
    margin: 1em;
  }
}

/* Headings */

h3,
h4,
h5 {
    font-weight: 300;
    letter-spacing: 1px;
    color:#444;
}

h3 {
    color:#444;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3:after {
    display: block;
    height: 2px;
    background-color: #ff4faa;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


h4 {
    color:#444;
    font-size: 120%;
    word-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
}

h5 {
    color:#444;
    font-size: 120%;
    margin-bottom: 15px;
    text-transform: uppercase;
}


/* Paragraphs */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* Headers */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 65vh;
    margin-top: 2em;
    margin-bottom: 0;
    
}

.hero-how-it-works {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-howitworks3.jpeg);
}

.hero-become-an-instructor {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/cool-tech-team.jpeg);
}


.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Font */
body { font-family: Sans-Serif; }
.font-serif { font-family: Georgia, "Times New Roman", Times, serif; }
.fw-bold { font-weight: bold; }
.uppercase { text-transform: uppercase; }
.text-center { text-align: center; }

/* Link */
a, a:link, a:visited, a:hover { text-decoration: none; }
a:link { color: #333; }
a:visited { color: #333; }
a:active { font-weight: bold; }

.btn {
    border-width: 2px;
    border-style: solid;
    padding: 16px;
    border-radius: 4px;
}

.btn:active{
    padding-top: 14px;
    padding-bottom: 18px;
}

.btn.btn-primary {
    background-color: #ff4faa;
    border-color: #ff4faa;
    color: white;
}

.btn.btn-primary:hover {
    background-color: #de4392;
    border-color: #de4392;
}

.btn.btn-outline-primary {
    color: #ff4faa;
    border-color: #ff4faa;
}

.btn.btn-outline-primary:hover {
    color: white;
    background-color: #ff4faa;
    border-color: #ff4faa;
}
