.font-serif {
    font-family: Georgia, "Times New Roman", Times, serif;
}

nav {
    text-transform: uppercase;
}

.navbar-links {
    justify-content: center;
}

.navbar-links .nav-item {
  margin: 0 2rem;
}

.btn-primary {
    background-color: #ff4faa;
    border-color: #ff4faa;
}

.btn-primary:hover {
    background-color: #de4392;
    border-color: #de4392;
}

.btn-outline-primary {
    color: #ff4faa;
    border-color: #ff4faa;
}

.btn-outline-primary:hover {
    background-color: #ff4faa;
    border-color: #ff4faa;
}

.index main {
    color: 4a4a4a;
}
.index main h1 {
    font-size: 72px;
    font-weight: 800;
    margin-top: 4rem;
}

.body .index {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.index main {
    flex: 1;
}

.index footer {
    margin-top: 10rem;
}