<!DOCTYPE html>
<html lang="en">
<partial src="partials/head.html" name="about" title="about"/>

<body class="about">
    <partial src="partials/nav.html" />

    <header class="hero-about">
        <div class="hero-text-box">
            <h1 class="hero-text">Technology is changing the world.<br>And anybody can be part of this change.</h1>
            <a class="btn btn-primary btn-lg fw-bold uppercase" href="lecture1.html">Start your journey</a>
            <a class="btn btn-outline-primary fw-bold uppercase" href="howitworks.html">See how</a>
        </div>
    </header>

    <section class="section-features">
        <div class="row">
            <h3 class="long-copy">We believe that every person deserves opportunity.</h3>
            <p class="long-copy">
            <h4><strong>
                    <p>Opportunity to learn and apply technology to improve
                        their lives, their work and our environment.</p>
                    <p>Opportunity to grow and participate in the world economy, to thrive individually and
                        work collectively for a better world. And there is no better way to create opportunity than
                        to combine education with technology.</p>
                    <p>With this in mind, we are building 10ten - a tech education
                        community - to
                        help you start and develop your journey in technology, by connecting you to great people to
                        learn, exchange, build things and improve others, while having a lot of
                        fun along the way.</p>
                    <p>If you want to become or develop yourself as a software engineer, web developer or product
                        guy/girl, who is able to
                        build
                        your own technology, get a job at the coolest companies in the world, and disseminate
                        knowledge that is relevant to humanity,
                        this is the perfect
                        place for you.
                    </p>
                    <p>If you are just curious about the beauty and power of technology, this the right place
                        for you too.
                    </p>
                    <p>Let's get going.
                    </p>
                    <p class="text-center fw-bold">
                        #TechnologyForEveryone
                    </p>
                </strong>
            </h4>
            </p>
        </div>
    </section>
    <section class="flex-center mb-5 mt-2">
        <a class="btn btn-primary btn-lg fw-bold uppercase text-center"
            href="create-and-publish-website.html">
            Start Learning
        </a>
    </section>
    </main>

    <partial src="partials/footer.html" />
</body>
</html>
