<!DOCTYPE html>
<html lang="en">
<partial src="partials/head.html" name="index" title="tech for everyone"/>

<body class="index">
    <partial src="partials/nav.html" />

    <main class="flex-center">
        <section class="text-center">
            <h1 class="title">From Zero to Hired</h1>
            <h2 class="subtitle">Learn how to code in few months. Pay if you get a job.</h2>
            <p class="mb-10">
                <a class="btn btn-primary btn-lg fw-bold uppercase"
                    href="create-and-publish-website.html">
                    Start Learning
                </a>
            </p>
        </section>
    </main>

    <partial src="partials/footer.html" />
</body>

</html>
